.checkout{
  padding: 30px;
  &__out{
    display: flex;
  }
  &__left{
    width: 65%;
    padding: 40px;
    background: #F3F2F3;
  }
  &__right{
    width: 35%;
    padding: 40px;
  }
  &__subs{
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding-bottom: 50px;
    &-num{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 34px;
      font-weight: 700;
    }
  }
  &__delivery{
    display: flex;
    align-items: center;
    column-gap: 50px;
    &-del{
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
      padding: 15px 20px;
      width: 40%;
      background: #ffffff;
    }
    &-check{
      width: 20px;
      height: 20px;
    }
    &-box{
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      padding-left: 20px;
      width: 100%;
    }
    &-comp{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 600;
    }
    &-exp{
      color: #D3D3D3;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
    }
  }
  &__form{
    padding: 70px 0 50px;
  }
  &__block{
    display: flex;
    flex-direction: column;
    &-fields{
      display: flex;
      padding-bottom: 20px;
    }
    &-field{
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
      padding: 15px 20px;
      border: none;
      width: 40%;

      color: #525252;
      font-family: "Montserrat",sans-serif;
      font-size: 16px;
    }
  }
  &__subsS{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    padding-bottom: 50px;
    &-title{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 22px;
      font-weight: 700;
    }
    &-numb{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: 700;
    }
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &-item {
      display: flex;
      align-items: center;
      width: 40%;
      padding-bottom: 30px;
    }
    &-img{
      width: 50%;
    }
    &-info{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding-left: 50px;
    }
    &-title{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 700;
    }
    &-author{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 300;
    }
    &-price{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 700;
    }
  }
  &__total{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c7ccd7;
    margin-bottom: 25px;
    padding-bottom: 15px;
    &-sub{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
    &-subtotal{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 17px;
      font-weight: 700;
    }
    &-ship{
      color: #ABABAB;
      font-family: "Montserrat",sans-serif;
      font-size: 14px;
    }
    &-shipping{
      color: #ABABAB;
      font-family: "Montserrat",sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
    &-total{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 22px;
      font-weight: 700;
    }
    &-totalSub{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 19px;
      font-weight: 700;
    }
  }
  &__pay{
    padding-top: 40px;
    &-label{
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin: 35px 0;
    }
  }
  &__popup{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background: #c7ccd7;
    padding: 40px 60px;

    &-title{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 25px;
    }
    &-p{
      color: #525252;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      padding-bottom: 40px;
    }
  }
}