.product{
  padding-bottom: 50px;
  &__row{
    display: flex;
    column-gap: 30px;
  }
  &__slider{
    padding-top: 50px;
    width: 25%;
  }
  &__info{
    &-title{
      padding-top: 50px;
      margin-bottom: 10px;
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: 600;
    }
    &-author{
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: 500;
    }
    &-smell{
      border-radius: 5px;
      border: 1px solid #EDEDF0;
      background: #FFF;
      padding: 26px 100px 26px 27px;
      margin-top: 110px;
    }
    &-char{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 22px;
      font-weight: 600;
    }
    &-ul{
      margin-top: 50px;
    }
    &-li{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 100%; /* 18px */
      margin-bottom: 10px;
    }
    &-span{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 100%; /* 18px */
      letter-spacing: 0.9px;
    }
    &-btns{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 17px 20px;
      border-radius: 5px;
      border: 1px solid #EDEDF0;
      background: #FFF;
      margin-top: 40px;
    }
    &-prod{
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
    &-btn{
      display: flex;
      align-items: center;
      column-gap: 5px;
      border-radius: 3px;
      padding: 7px 15px;
      background: #7d8290;
      color: #fff;
      font-size: 15px;
    }
    &-fav{
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
    &-price{
      color: #000;
      font-family: "Montserrat",sans-serif;
      font-size: 24px;
      font-weight: 500;
    }
    &-titleDesc{
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 26px;
      font-weight: 700;
      margin: 55px 0;
    }
    &-desc{
      color: #525252;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.72px;
      &-span{
        color: #000;
        font-weight: 600;
      }
    }
  }
}