@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  resize: none;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body{
  background: #F7F7F7;
}

button{
  cursor: pointer;
  border: none;
}

.container{
  max-width: 1620px;
  padding: 0 20px;
  margin: 0 auto;
}

.title{
  font-size: 25px;
  font-weight: 600;
  line-height: 21px;
  color: #1A1919;
  margin-bottom: 35px;
  margin-top: 20px;
}

.skeleton{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 1px solid gray;
  &__img{
    margin-top: 10px;
  }
  &__block{
    height: 40px;
  }
}


.star.selected {
  color: gold;
}

@import "authors";
@import "author";
@import "header";
@import "form";
@import "product";
@import "cart";
@import "banner";
@import "hit";
@import "card";
@import "rating";
@import "about";
@import "cataloge";
@import "checkout";
@import "authorSlide";
@import "delivery";
@import "room";
@import "footer";
@import "sale";
